* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

html {
  -webkit-text-size-adjust: none; }

body {
  -webkit-user-select: none;
  font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
  font-size: 12px;
  color: #424242; }

header, footer, nav, section, aside, figure, figcaption, article, audio, video {
  display: block; }

input {
  outline: none; }

ul, li {
  list-style: none; }

a, a:hover, a:active, a:visited, a:target {
  text-decoration: none;
  color: #424242; }

img {
  display: block;
  border: none; }

.clear:after {
  display: block;
  height: 0;
  content: "";
  clear: both; }

html {
  font-size: 100px; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.arrow {
  position: absolute;
  left: 50%;
  bottom: .1rem;
  z-index: 100;
  margin-left: -0.2rem;
  width: 0.3rem;
  height: 0.2rem;
  background: url("../img/web-swipe-tip.png") no-repeat;
  background-size: 100% 100%;
  opacity: 1;
  -webkit-animation: arrowFlash 1s linear 0s infinite;
  animation: arrowFlash 1s linear 0s infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes arrowFlash {
  0%, 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    opacity: 0.1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }
@keyframes arrowFlash {
  0%, 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    opacity: 0.1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }
.audio {
  display: block;
  position: absolute;
  top: .2rem;
  right: .2rem;
  z-index: 200;
  width: 0.3rem;
  height: 0.3rem;
  background: url("../img/music.svg") no-repeat;
  background-size: 100% 100%; }

.audio .audioMp3 {
  display: none; }

.audioMove {
  -webkit-animation: audioMove 1s linear infinite both;
  animation: audioMove 1s linear infinite both; }

@-webkit-keyframes audioMove {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes audioMove {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.swiper-container {
  height: 100%; }
  .swiper-container .swiper-slide {
    position: relative;
    height: 100%; }

.wraper_backgrounnd {
  width: 100%;
  height: 100%;
  background-image: url("../img/background.png");
  background-size: cover; }

.swiper-slide .comp-resize {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
  top: 0; }
  .swiper-slide .comp-resize .comp-rotate {
    width: 1.75rem;
    height: 1.75rem;
    position: absolute;
    left: .73rem;
    top: .41rem;
    z-index: 1;
    opacity: 0; }
    .swiper-slide .comp-resize .comp-rotate .element_box {
      top: .41rem;
      left: .73rem;
      z-index: 1;
      width: 100%;
      height: 100%;
      opacity: 1;
      color: #676767;
      border: 0 solid black;
      padding-bottom: 0;
      padding-top: 0;
      line-height: 1;
      border-radius: 0;
      transform: none;
      text-align: left;
      box-shadow: rgba(0, 0, 0, 0.49804) 0 0 0; }
      .swiper-slide .comp-resize .comp-rotate .element_box img {
        width: 1.75rem;
        height: 1.75rem; }
  .swiper-slide .comp-resize .comp-inside {
    width: 1.59rem;
    height: 1.59rem;
    left: .81rem;
    top: .48rem;
    position: absolute;
    z-index: 2;
    opacity: 0; }
    .swiper-slide .comp-resize .comp-inside .comp-inside_content {
      width: 100%;
      height: 100%; }
    .swiper-slide .comp-resize .comp-inside img {
      width: 100%;
      height: 100%; }
  .swiper-slide .comp-resize .comp-image {
    width: 1.48rem;
    height: 1.48rem;
    position: absolute;
    left: .85rem;
    top: .54rem;
    z-index: 4;
    opacity: 0;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    border-radius: 50%;
    overflow: hidden; }
    .swiper-slide .comp-resize .comp-image img {
      width: 1.48rem;
      height: 1.48rem; }
  .swiper-slide .comp-resize .resume_main {
    width: 2.15rem;
    position: absolute;
    left: .55rem;
    top: 2.07rem;
    color: #fff;
    padding: 15px 0 15px 0; }
    .swiper-slide .comp-resize .resume_main .peopleResume {
      font-size: 0.12rem;
      width: 100%;
      text-align: center;
      opacity: 0;
      letter-spacing: .05rem; }
    .swiper-slide .comp-resize .resume_main .resumePersonal {
      font-size: .32rem;
      width: 100%;
      text-align: center;
      line-height: .5rem;
      letter-spacing: .05rem;
      opacity: 0; }
    .swiper-slide .comp-resize .resume_main .resumeLine {
      position: absolute;
      left: 50%;
      margin-left: -.8rem;
      height: .03rem;
      width: 1.6rem;
      background: #fff;
      opacity: 0; }
    .swiper-slide .comp-resize .resume_main .job_want {
      margin-top: .1rem;
      width: 100%;
      text-align: center;
      letter-spacing: .03rem;
      opacity: 0; }
  .swiper-slide .comp-resize .opp_sur {
    position: absolute;
    left: .49rem;
    top: 4rem;
    width: 100%;
    opacity: 0; }
    .swiper-slide .comp-resize .opp_sur p {
      float: left; }
    .swiper-slide .comp-resize .opp_sur p.opportunity {
      margin: 0 .2rem 0 .3rem; }
  .swiper-slide .comp-resize .resume_btn {
    position: absolute;
    top: 78%;
    left: .55rem;
    z-index: 3;
    width: 2.13rem;
    height: .33rem;
    color: #676767;
    line-height: 1;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.49804) 0px 0px 0px; }
    .swiper-slide .comp-resize .resume_btn .resume_btn_img img {
      width: 100%;
      height: 100%; }
    .swiper-slide .comp-resize .resume_btn .btn {
      position: absolute;
      top: 0;
      left: 0; }
      .swiper-slide .comp-resize .resume_btn .btn img {
        float: left;
        width: .18rem;
        height: .14rem; }
      .swiper-slide .comp-resize .resume_btn .btn img.left {
        position: absolute;
        top: .12rem;
        left: .3rem;
        opacity: 0; }
      .swiper-slide .comp-resize .resume_btn .btn img.right {
        position: absolute;
        top: .12rem;
        left: 1.6rem;
        opacity: 0; }
    .swiper-slide .comp-resize .resume_btn .knowPeo {
      position: absolute;
      width: 100%;
      top: .12rem;
      text-align: center;
      letter-spacing: .05rem;
      color: black;
      font-size: 0.12rem;
      opacity: 0; }

#page1 .comp-resize .comp-rotate {
  -webkit-animation: rotateIn 3s linear 0s infinite both;
  animation: rotateIn 3s linear 0s infinite both; }
#page1 .comp-resize .comp-inside {
  -webkit-animation: fadeIn 2s ease 0s infinite both;
  animation: fadeIn 2s ease 0s infinite both; }
#page1 .comp-resize .comp-image {
  -webkit-animation: fadeIn 2s ease 0.5s 1 both;
  animation: fadeIn 2s ease 0.5s 1 both; }
#page1 .comp-resize .resume_main .peopleResume {
  -webkit-animation: flipInY 2s ease 0s 1 both;
  animation: flipInY 2s ease 0s 1 both; }
#page1 .comp-resize .resume_main .resumePersonal {
  -webkit-animation: flipInY 2s ease 0.3s 1 both;
  animation: flipInY 2s ease 0.3s 1 both; }
#page1 .comp-resize .resume_main .resumeLine {
  -webkit-animation: bounceInLeft 2s ease 0s 1 both;
  animation: bounceInLeft 2s ease 0s 1 both; }
#page1 .comp-resize .resume_main .job_want {
  -webkit-animation: bounceInRight 2s ease 0.5s 1 both;
  animation: bounceInRight 2s ease 0.5s 1 both; }
#page1 .comp-resize .opp_sur p.opportunity {
  -webkit-animation: fadeInRight 2s ease 1s 1 both;
  animation: fadeInRight 2s ease 1s 1 both; }
#page1 .comp-resize .opp_sur p.surprised {
  -webkit-animation: fadeInLeft 2s ease 1s 1 both;
  animation: fadeInLeft 2s ease 1s 1 both; }
#page1 .comp-resize .resume_btn {
  -webkit-animation: zoomIn 1.4s ease 0s 1 both;
  animation: zoomIn 1.4s ease 0s 1 both; }
  #page1 .comp-resize .resume_btn .btn img.left {
    -webkit-animation: rotateInDownLeft 1s ease 0s 1 both;
    animation: rotateInDownLeft 1s ease 0s 1 both; }
  #page1 .comp-resize .resume_btn .btn img.right {
    -webkit-animation: flipInY 2s ease 0s 1 both;
    animation: flipInY 2s ease 0s 1 both; }
  #page1 .comp-resize .resume_btn .knowPeo {
    -webkit-animation: fadeIn 2s ease 0s 1 both;
    animation: fadeIn 2s ease 0s 1 both; }

.pageTwo {
  width: 100%;
  height: 100%;
  position: relative; }
  .pageTwo .wraper_backgrounnd2 {
    width: 100%;
    height: 100%;
    background-image: url("../img/bg.png");
    background-size: 100% 100%; }
  .pageTwo .peopleInfo {
    width: 1rem;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    border: 1px dashed #fff;
    position: absolute;
    top: 22%;
    left: 50%;
    opacity: 0;
    margin-left: -.45rem; }
  .pageTwo h2 {
    color: #fff;
    font-size: .2rem;
    letter-spacing: .02rem;
    opacity: 0; }
  .pageTwo span {
    display: block;
    color: #fff;
    font-size: 0.12rem;
    opacity: 0; }
  .pageTwo .info {
    width: 2.84rem;
    height: 57.5%;
    position: absolute;
    top: 34%;
    left: 50%;
    margin-left: -1.42rem; }
    .pageTwo .info img {
      width: 100%;
      height: 100%;
      opacity: 0; }
    .pageTwo .info .infoList {
      overflow: hidden;
      position: absolute;
      top: .1rem;
      left: 50%;
      margin-left: -1.2rem;
      width: 2.4rem;
      height: 100%; }
      .pageTwo .info .infoList .name {
        width: 1.26rem;
        height: .34rem;
        padding: 0.05rem .15rem;
        position: absolute;
        left: 50%;
        opacity: 0;
        margin-left: -.63rem;
        box-sizing: border-box;
        background: #d2fbf5; }
        .pageTwo .info .infoList .name span.nameZ {
          display: block;
          height: .24rem;
          line-height: .24rem;
          text-align: center;
          width: 100%;
          color: black;
          font-size: .24rem;
          opacity: 0;
          background: #b6faf0; }
        .pageTwo .info .infoList .name .right {
          display: block;
          width: .32rem;
          height: .18rem;
          position: absolute;
          top: .08rem;
          left: 1.2rem;
          opacity: 0; }
        .pageTwo .info .infoList .name .left {
          display: block;
          width: .32rem;
          height: .18rem;
          position: absolute;
          top: .08rem;
          left: -0.24rem;
          -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
          opacity: 0; }
        .pageTwo .info .infoList .name p {
          margin-top: .1rem;
          width: 100%;
          opacity: 0;
          text-align: center;
          letter-spacing: .02rem;
          font-size: .14rem;
          font-family: "Miscrosoft"; }
      .pageTwo .info .infoList .add {
        position: absolute;
        top: .7rem;
        left: 50%;
        margin-left: -1.09rem;
        width: 2.18rem;
        height: .27rem;
        line-height: .27rem;
        text-align: center;
        background: url("../img/border(1).png") no-repeat;
        background-size: 100% 100%; }
        .pageTwo .info .infoList .add p {
          font-size: 14px; }
      .pageTwo .info .infoList .address {
        opacity: 0; }
      .pageTwo .info .infoList .major {
        top: 1.1rem;
        opacity: 0; }
      .pageTwo .info .infoList .school {
        top: 1.5rem;
        opacity: 0; }
      .pageTwo .info .infoList .education {
        top: 1.9rem;
        opacity: 0; }
      .pageTwo .info .infoList .experience {
        top: 2.3rem;
        opacity: 0; }

#page2 .peopleInfo {
  -webkit-animation: bounceInLeft 1s ease 0s 1 both;
  animation: bounceInLeft 1s ease 0s 1 both; }
#page2 h2 {
  -webkit-animation: fadeInLeft 1s ease 0.5s 1 both;
  animation: fadeInLeft 1s ease 0.5s 1 both; }
#page2 span {
  -webkit-animation: zoomIn 1s ease 0.5s 1 both;
  animation: zoomIn 1s ease 0.5s 1 both; }
#page2 .info img.infoBg {
  -webkit-animation: bounceInUp 1s ease 0.8s 1 both;
  animation: bounceInUp 1s ease 0.8s 1 both; }
#page2 .info .infoList .name {
  -webkit-animation: fadeIn 1s ease 1.6s 1 both;
  animation: fadeIn 1s ease 1.6s 1 both; }
  #page2 .info .infoList .name .right {
    -webkit-animation: fadeInRight 1s ease 1.6s 1 both;
    animation: fadeInRight 1s ease 1.6s 1 both; }
  #page2 .info .infoList .name .left {
    -webkit-animation: fadeInLeft 1s ease 1.6s 1 both;
    animation: fadeInLeft 1s ease 1.6s 1 both; }
  #page2 .info .infoList .name p {
    -webkit-animation: flipInY 1s ease 1.8s 1 both;
    animation: flipInY 1s ease 1.8s 1 both; }
#page2 .info .infoList .address {
  -webkit-animation: bounceInUp 1.5s ease 2s 1 both;
  animation: bounceInUp 1.5s ease 2s 1 both; }
  #page2 .info .infoList .address p {
    -webkit-animation: fadeIn 1.5s ease 2.7s 1 both;
    animation: fadeIn 1.5s ease 2.7s 1 both; }
#page2 .info .infoList .major {
  -webkit-animation: bounceInUp 1.5s ease 2.2s 1 both;
  animation: bounceInUp 1.5s ease 2.2s 1 both; }
  #page2 .info .infoList .major p {
    -webkit-animation: fadeIn 1.5s ease 2.9s 1 both;
    animation: fadeIn 1.5s ease 2.9s 1 both; }
#page2 .info .infoList .school {
  -webkit-animation: bounceInUp 1.5s ease 2.4s 1 both;
  animation: bounceInUp 1.5s ease 2.4s 1 both; }
  #page2 .info .infoList .school p {
    -webkit-animation: fadeIn 1.5s ease 3.1s 1 both;
    animation: fadeIn 1.5s ease 3.1s 1 both; }
#page2 .info .infoList .education {
  -webkit-animation: bounceInUp 1.5s ease 2.6s 1 both;
  animation: bounceInUp 1.5s ease 2.6s 1 both; }
  #page2 .info .infoList .education p {
    -webkit-animation: fadeIn 1.5s ease 3.3s 1 both;
    animation: fadeIn 1.5s ease 3.3s 1 both; }
#page2 .info .infoList .experience {
  -webkit-animation: bounceInUp 1.5s ease 2.8s 1 both;
  animation: bounceInUp 1.5s ease 2.8s 1 both; }
  #page2 .info .infoList .experience p {
    -webkit-animation: fadeIn 1.5s ease 3.5s 1 both;
    animation: fadeIn 1.5s ease 3.5s 1 both; }

.wraper_backgrounnd3 {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg2.png");
  background-size: 100% 100%; }

.pageThr .peopleInfo {
  width: 1rem;
  height: .3rem;
  line-height: .3rem;
  text-align: center;
  border: 1px dashed #fff;
  position: absolute;
  top: 22%;
  left: 50%;
  opacity: 0;
  margin-left: -.45rem; }
.pageThr h2 {
  color: #fff;
  font-size: .2rem;
  letter-spacing: .02rem;
  opacity: 0; }
.pageThr span {
  display: block;
  color: #fff;
  letter-spacing: .02rem;
  font-size: .14rem;
  font-family: "Miscrosoft";
  opacity: 0; }
.pageThr ul.edit_area {
  position: absolute;
  top: 36%;
  width: 100%;
  height: 3rem; }
.pageThr .edit_area > li {
  color: #676767;
  position: absolute;
  width: 2.48rem;
  height: .47rem;
  top: 0;
  left: .4rem; }
.pageThr .edit_area > li:nth-child(2) {
  top: .7rem; }
.pageThr .edit_area > li:nth-child(3) {
  top: 1.1rem; }
.pageThr .edit_area > li:nth-child(3) {
  top: 1.4rem; }
.pageThr .edit_area > li:nth-child(4) {
  font-size: .12rem;
  top: 2.1rem; }
.pageThr .edit_area > li > div {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: .48rem;
  height: .49rem;
  line-height: .49rem;
  text-align: center;
  font-size: .14rem;
  font-weight: 700;
  background-image: url("../img/skill.png");
  background-size: 100%; }
.pageThr .edit_area > li > i {
  opacity: 0;
  position: absolute;
  left: .53rem;
  top: .13rem;
  width: .16rem;
  height: .19rem; }
  .pageThr .edit_area > li > i img {
    width: 100%;
    height: 100%; }
.pageThr .edit_area > li > section {
  opacity: 0;
  position: absolute;
  right: 0;
  top: .08rem;
  height: .2rem;
  width: 1.6rem;
  border: 1px dashed #fff;
  padding: .05rem; }
.pageThr .edit_area > li > section > p {
  width: 100%;
  height: .2rem;
  line-height: .2rem;
  text-align: center;
  color: black;
  background: #b6faf0; }

#page3 .peopleInfo {
  -webkit-animation: rotateIn 1s ease 0s 1 both;
  animation: rotateIn 1s ease 0s 1 both; }
#page3 h2 {
  -webkit-animation: flipInY 1s ease 0.5s 1 both;
  animation: flipInY 1s ease 0.5s 1 both; }
#page3 span {
  -webkit-animation: zoomIn 1s ease 0.5s 1 both;
  animation: zoomIn 1s ease 0.5s 1 both; }
#page3 .edit_area > li:nth-child(1) div {
  -webkit-animation: flipInY 1.2s ease 0.8s 1 both;
  animation: flipInY 1.2s ease 0.8s 1 both; }
#page3 .edit_area > li:nth-child(2) div {
  -webkit-animation: flipInY 1.2s ease 1.2s 1 both;
  animation: flipInY 1.2s ease 1.2s 1 both; }
#page3 .edit_area > li:nth-child(3) div {
  -webkit-animation: flipInY 1.2s ease 1.6s 1 both;
  animation: flipInY 1.2s ease 1.6s 1 both; }
#page3 .edit_area > li:nth-child(4) div {
  -webkit-animation: flipInY 1.2s ease 2s 1 both;
  animation: flipInY 1.2s ease 2s 1 both; }
#page3 .edit_area > li:nth-child(1) i {
  -webkit-animation: fadeInLeft 1s ease 1s 1 both;
  animation: fadeInLeft 1s ease 1s 1 both; }
#page3 .edit_area > li:nth-child(2) i {
  -webkit-animation: fadeInLeft 1s ease 1.4s 1 both;
  animation: fadeInLeft 1s ease 1.4s 1 both; }
#page3 .edit_area > li:nth-child(3) i {
  -webkit-animation: fadeInLeft 1s ease 1.8s 1 both;
  animation: fadeInLeft 1s ease 1.8s 1 both; }
#page3 .edit_area > li:nth-child(4) i {
  -webkit-animation: fadeInLeft 1s ease 2.2s 1 both;
  animation: fadeInLeft 1s ease 2.2s 1 both; }
#page3 .edit_area > li:nth-child(1) section {
  -webkit-animation: fadeInRight 1s ease 1s 1 both;
  animation: fadeInRight 1s ease 1s 1 both; }
#page3 .edit_area > li:nth-child(2) section {
  -webkit-animation: fadeInRight 1s ease 1.4s 1 both;
  animation: fadeInRight 1s ease 1.4s 1 both; }
#page3 .edit_area > li:nth-child(3) section {
  -webkit-animation: fadeInRight 1s ease 1.8s 1 both;
  animation: fadeInRight 1s ease 1.8s 1 both; }
#page3 .edit_area > li:nth-child(4) section {
  -webkit-animation: fadeInRight 1s ease 2.2s 1 both;
  animation: fadeInRight 1s ease 2.2s 1 both; }
#page3 .edit_area > li:nth-child(1) section p {
  -webkit-animation: zoomIn 1s ease 1.4s 1 both;
  animation: zoomIn 1s ease 1.4s 1 both; }
#page3 .edit_area > li:nth-child(2) section p {
  -webkit-animation: zoomIn 1s ease 1.8s 1 both;
  animation: zoomIn 1s ease 1.8s 1 both; }
#page3 .edit_area > li:nth-child(3) section p {
  -webkit-animation: zoomIn 1s ease 2.2s 1 both;
  animation: zoomIn 1s ease 2.2s 1 both; }
#page3 .edit_area > li:nth-child(4) section p {
  -webkit-animation: zoomIn 1s ease 2.6s 1 both;
  animation: zoomIn 1s ease 2.6s 1 both; }

.wraper_backgrounnd4 {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg4.png");
  background-size: 100% 100%; }

.pageFou .peopleInfo {
  width: 1rem;
  height: .3rem;
  line-height: .3rem;
  text-align: center;
  border: 1px dashed #fff;
  position: absolute;
  top: 22%;
  left: 50%;
  opacity: 0;
  margin-left: -.45rem; }
.pageFou h2 {
  color: #fff;
  opacity: 0;
  font-size: .2rem;
  letter-spacing: .02rem; }
.pageFou span {
  display: block;
  color: #fff;
  letter-spacing: .02rem;
  font-size: .14rem;
  opacity: 0;
  font-family: "Miscrosoft"; }
.pageFou .project {
  width: 2.5rem;
  height: 47%;
  position: absolute;
  top: 34%;
  left: .2rem; }
  .pageFou .project .line {
    opacity: 0;
    width: 1.24rem;
    height: 3.21rem; }
  .pageFou .project .circle {
    position: absolute;
    top: .27rem;
    left: -.09rem;
    width: .18rem;
    height: .18rem;
    opacity: 0; }
  .pageFou .project .two {
    top: 1.2rem;
    opacity: 0; }
  .pageFou .project .thr {
    top: 2.1rem;
    opacity: 0; }
  .pageFou .project .four {
    top: 3.2rem;
    opacity: 0; }

.pageFou .projectList {
  width: 2.8rem;
  height: 49%;
  position: absolute;
  top: 38%;
  left: .4rem; }
.pageFou .projectList > li:nth-child(1) {
  margin-bottom: .75rem; }
.pageFou .projectList > li:nth-child(2) {
  margin-bottom: .7rem; }
.pageFou .projectList > li > h3 {
  float: left;
  opacity: 0;
  font-size: .18rem;
  color: #7de0be;
  margin-right: .1rem; }
.pageFou .projectList > li > b {
  opacity: 0;
  display: inline-block;
  font-size: .15rem;
  color: #39a977; }
.pageFou .projectList > li > p {
  opacity: 0;
  position: absolute;
  margin-top: .15rem;
  padding: 0 .1rem;
  border: 1px dashed #fff;
  font-size: .15rem;
  height: .25rem;
  line-height: .25rem;
  color: #c6edb7; }

#page4 .peopleInfo {
  -webkit-animation: rotateIn 1s ease 0s 1 both;
  animation: rotateIn 1s ease 0s 1 both; }
#page4 h2 {
  -webkit-animation: flipInY 1s ease 0.5s 1 both;
  animation: flipInY 1s ease 0.5s 1 both; }
#page4 span {
  -webkit-animation: zoomIn 1s ease 0.5s 1 both;
  animation: zoomIn 1s ease 0.5s 1 both; }
#page4 .project .line {
  -webkit-animation: zoomIn 1s ease 1s 1 both;
  animation: zoomIn 1s ease 0.5s 1 both; }
#page4 .project .fir {
  -webkit-animation: fadeInLeft 1s ease 1s 1 both;
  animation: fadeInLeft 1s ease 1s 1 both; }
#page4 .project .two {
  -webkit-animation: fadeInLeft 1s ease 2.2s 1 both;
  animation: fadeInLeft 1s ease 2.2s 1 both; }
#page4 .project .thr {
  -webkit-animation: fadeInLeft 1s ease 3.4s 1 both;
  animation: fadeInLeft 1s ease 3.4s 1 both; }
#page4 .projectList > li:nth-child(1) h3 {
  -webkit-animation: fadeInRight 1s ease 1s 1 both;
  animation: fadeInRight 1s ease 1s 1 both; }
#page4 .projectList > li:nth-child(2) h3 {
  -webkit-animation: fadeInRight 1s ease 2.2s 1 both;
  animation: fadeInRight 1s ease 2.2s 1 both; }
#page4 .projectList > li:nth-child(3) h3 {
  -webkit-animation: fadeInRight 1s ease 3.4s 1 both;
  animation: fadeInRight 1s ease 3.4s 1 both; }
#page4 .projectList > li:nth-child(1) b {
  -webkit-animation: fadeInRight 1s ease 1.4s 1 both;
  animation: fadeInRight 1s ease 1.4s 1 both; }
#page4 .projectList > li:nth-child(2) b {
  -webkit-animation: fadeInRight 1s ease 2.6s 1 both;
  animation: fadeInRight 1s ease 2.6s 1 both; }
#page4 .projectList > li:nth-child(3) b {
  -webkit-animation: fadeInRight 1s ease 3.8s 1 both;
  animation: fadeInRight 1s ease 3.8s 1 both; }
#page4 .projectList > li:nth-child(1) p {
  -webkit-animation: lightSpeedIn 1s ease 1.8s 1 both;
  animation: lightSpeedIn 1s ease 1.8s 1 both; }
#page4 .projectList > li:nth-child(2) p {
  -webkit-animation: lightSpeedIn 1s ease 3s 1 both;
  animation: lightSpeedIn 1s ease 3s 1 both; }
#page4 .projectList > li:nth-child(3) p {
  -webkit-animation: lightSpeedIn 1s ease 4.2s 1 both;
  animation: lightSpeedIn 1s ease 4.2s 1 both; }

.pageFiv ul {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 4rem; }
.pageFiv ul li {
  width: 100%;
  height: .3rem;
  margin-top: 1.5%;
  position: relative; }
.pageFiv ul li:nth-child(1) {
  height: 1rem; }
.pageFiv ul li:nth-child(1) div {
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 50%;
  top: 0;
  opacity: 0;
  border-radius: 50%;
  margin-left: -.5rem;
  overflow: hidden; }
  .pageFiv ul li:nth-child(1) div img {
    width: 100%;
    height: 100%; }
.pageFiv ul li:nth-child(2) {
  font-size: .2rem;
  width: 100%;
  text-align: center;
  line-height: .3rem;
  color: #fff;
  opacity: 0; }
.pageFiv ul li:nth-child(3) {
  height: .03rem;
  width: 1.5rem;
  background: #fff;
  opacity: 0;
  margin: .03rem 0 0 .88rem; }
.pageFiv ul li:nth-child(4) {
  position: relative;
  height: 1.3rem; }
  .pageFiv ul li:nth-child(4) img {
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    left: 50%;
    opacity: 0;
    margin-left: -.65rem; }
.pageFiv ul li:nth-child(5) div, .pageFiv ul li:nth-child(6) div, .pageFiv ul li:nth-child(7) div {
  position: absolute;
  left: 50%;
  margin-left: -.9rem;
  height: 100%;
  width: 1.8rem;
  text-align: center;
  line-height: .3rem;
  border: 1px dashed #fff;
  opacity: 0; }
  .pageFiv ul li:nth-child(5) div span, .pageFiv ul li:nth-child(6) div span, .pageFiv ul li:nth-child(7) div span {
    opacity: 0;
    display: inline-block;
    font-size: .15rem;
    color: #fff; }
.pageFiv ul li:nth-child(7) div span {
  font-size: .13rem; }
.pageFiv ul li:nth-child(8) div {
  margin-top: .2rem;
  width: 2.8rem;
  height: .16rem;
  margin-left: .2rem; }
  .pageFiv ul li:nth-child(8) div img {
    opacity: 0;
    width: 100%;
    height: 100%; }

#page5 ul li:nth-child(1) div {
  -webkit-animation: bounceInLeft 1s ease 1 both;
  animation: bounceInLeft 1s ease 1 both; }
#page5 ul li:nth-child(2) {
  -webkit-animation: rotateIn 1s ease 1 both;
  animation: rotateIn 1s ease 1 both; }
#page5 ul li:nth-child(3) {
  -webkit-animation: zoomIn 1s ease 1 both;
  animation: zoomIn 1s ease 1 both; }
#page5 ul li:nth-child(4) img {
  -webkit-animation: flipInY 1s ease 0.8s 1 both;
  animation: flipInY 1s ease 0.8s 1 both; }
#page5 ul li:nth-child(5) div {
  -webkit-animation: lightSpeedIn 1s ease 1.2s 1 both;
  animation: lightSpeedIn 1s ease 1.2s 1 both; }
  #page5 ul li:nth-child(5) div span {
    -webkit-animation: bounceInUp 1s ease 1.5s 1 both;
    animation: bounceInUp 1s ease 1.5s 1 both; }
#page5 ul li:nth-child(6) div {
  -webkit-animation: lightSpeedIn 1s ease 1.8s 1 both;
  animation: lightSpeedIn 1s ease 1.8s 1 both; }
  #page5 ul li:nth-child(6) div span {
    -webkit-animation: bounceInUp 1s ease 2.1s 1 both;
    animation: bounceInUp 1s ease 2.1s 1 both; }
#page5 ul li:nth-child(7) div {
  -webkit-animation: lightSpeedIn 1s ease 2.4s 1 both;
  animation: lightSpeedIn 1s ease 2.4s 1 both; }
  #page5 ul li:nth-child(7) div span {
    -webkit-animation: bounceInUp 1s ease 2.7s 1 both;
    animation: bounceInUp 1s ease 2.7s 1 both; }
#page5 ul li:nth-child(8) div img {
  -webkit-animation: zoomIn 1.7s ease 3s 1 both;
  animation: zoomIn 1.7s ease 3s 1 both; }

@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0; }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1; }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0; }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1; }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 1; }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 1; }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to {
    opacity: 1;
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }
@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to {
    opacity: 1;
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50%, 100% {
    opacity: 1; } }
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); } }
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); } }
@-webkit-keyframes rotateInDownLeft {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }
  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@keyframes rotateInDownLeft {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }
  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
  100% {
    opacity: 1; } }
@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
  100% {
    opacity: 1; } }
@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
  100% {
    opacity: 1; } }
@keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
  100% {
    opacity: 1; } }
@-webkit-keyframes zoomInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
  100% {
    opacity: 1; } }
@keyframes zoomInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=index.css.map */
